@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;700&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    display: grid;
    place-content: center;
    min-height: 100vh;
    min-width: 100vw;
}

main{
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: right;
    background-color: gray;
    padding: 20px;
    border-radius: 5px;
    height: 300px;
    max-width: 300px;
    border: 2px solid black;
}


button{
    width: 60px;
    height: 30px;
    border: 2px solid black;
    font-size: 20px;
    font-weight: bolder;
}


.btn-calc.operator,
.btn-calc.multiply,
.btn-calc.substract,
.btn-calc.clear,
.btn-calc.add,
.btn-calc.equal{
    background-color: orangered;
    box-shadow: inset 5px 5px 20px  gold;
}

.btn-calc.number{
    box-shadow: inset 3px 10px 5px gray;
}



.display{
    border: 2px solid black;
    padding: 5px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 5px;
    background-color: white;
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
    font-size: 2rem;
    box-shadow: inset .2rem .3rem .5rem .5rem black;
}

.btn-container{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 3px;
}